<%= form_for @recipe do |f| %>

  <% if @recipe.errors.any? %>
      <h2>We have some errors here !</h2>
    <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>

  <%= f.label :description, "Description" %>
  <%= f.text_area :description %>

  <%= f.submit %>

<% end %>